<!DOCTYPE html>
<html ng-app="videoService">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Service for Steelkiwi</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>





<div class="container-fluid outerdiv">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/"><b>Video Service</b> <!-- <span class="span-style">Movie Browser</span> --></a>
      </div>
    </div>
  </nav>

  <noscript>
    <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
  </noscript>

  <div class="col-md-offset-1 col-md-10" ng-controller="MoviesShowController">
    <div class="input-group search-bar col-md-10" >
        <form ng-submit="submit()" ng-controller="SearchController">
            <input type="text" ng-model="search" class="form-control" ng-model-options="{ debounce: 900 }" placeholder="Enter full movie name" autofocus />
        </form>
      <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <div class="content" ng-view >
    </div>

  </div>
</div>




<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/angular/angular.js"></script>
<script src="vendors/angular-route/angular-route.js"></script>
<script src="vendors/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/routes.js" type="text/javascript"></script>
</body>
</html>