body {
  //background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/bg-sky.png);
  //background-repeat: repeat !important;
  //background-attachment: fixed;
}

ul.rel-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
  list-style: none;
}

.rel-results li {
  width: calc(960px / 4 - 40px);
  display: block;
}

.rel-results .movie-title a {
  line-height: 20px;
  vertical-align: center;
}

.movie-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  background: white;

}

.rel-results .thumbnail {
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
  padding: 0;
}

.movie-card {
  display: block;
  overflow: hidden;
  //box-shadow: 0 0 10px rgba(0, 0, 0, .5);


  img {
    border-radius: 4px;
    height: 330px;
    padding-bottom: 15px;
    float: left;
    width: calc(960 / 4 - 40px);
  }
}

.movie-poster {
  width: 280px;
  float: left;
  margin: 0 20px 20px 0;
  border-radius: 4px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .5);

}

.movie-overview {
  max-width: 900px;
  text-align: justify;
}


.nojs {
  padding: 2px;
  padding-left: 6px;
  margin-bottom: 5px;
  background: #ff0000;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ff0000;
  border-radius: 5px;
}

.outerdiv {
  margin-top: 60px;
}

.span-style {
  font-size: 17px;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  margin-bottom: 25px;
}

.bar-style {
  background: #337AB7;
  color: rgb(250, 250, 250);
}

.related-results {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.span-outer {
  font-size: 20px;
}

.outer-p {
  margin-top: 10px;
}

.inner-p {
  margin: 2px;
}

.outer-p-2 {
  margin-top: 5px;
}

.outer-p-3 {
  margin-top: 15px;
}

.divider {
  margin: 0 8px 0 8px;
}

.divider:before {
  content: "|";
}

@media (max-width: 850px) {
  .related-results {
    //display: none;
  }
}