<div ng-controller="MoviesShowController as activeMovie" id="main-info">
      <div ng-if="!activeMovie">
        Loading results...
      </div>

      <div>
        <img ng-src="{{ activeMovie.details.poster_path ==='undefined' ? 'http://placehold.it/150x220&text=text' : 'https://image.tmdb.org/t/p/w500' + activeMovie.details.poster_path }}" class="thumbnail  movie-poster">

        <span class="span-outer">
          <a ng-href="http://imdb.com/title/{{ activeMovie.details.imdb_id }}" target="_blank">{{ activeMovie.details.title }}</a>
        </span>

        <p><strong>Released on:</strong> {{ activeMovie.details.release_date }} ({{ activeMovie.details.runtime }} min)</p>

        <p>{{ activeMovie.details.overview }}</p>

        <p class="outer-p">
          <div class="inner-p">
            <span class="label label-primary">Directors :</span> {{ details.Director }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Actors :</span> {{ activeMovie.details.actors }}
          </div>
          <div class="inner-p" >
            <span class="label label-primary">Genre :</span><span ng-repeat="genre in activeMovie.details.genres"> {{ genre.name }}<span ng-if="$index < activeMovie.details.genres.length - 1">,</span> </span>
          </div>
        </p>

        <p class="outer-p-2">Ratings:
          <br>
          <strong>IMDb Rating</strong>: <span class="label label-success">{{ activeMovie.details.vote_average }}</span>
          <br>
          <strong>Rotten Tomatoes</strong>: <span class="label label-success">{{ details.tomatoRating }}</span>
        </p>

        <p class="outer-p-3">

        </p>
      </div>

      <div ng-if="activeMovie.details.response==='False'">
        No results found.
      </div>
    </div>