<div id="related-results" class="related-results">
    <div ng-controller="MoviesShowController">
        <hr>
        <ul class="rel-results" infinite-scroll='themoviedb.nextPage(search)' infinite-scroll-disabled='themoviedb.stop' infinite-scroll-distance='1'>
            <li ng-repeat='movie in themoviedb.items'>
                <div class="movie-card">
                    <a ng-href="#/film/{{ movie.id }}" id="{{ $index + 1 }}" ng-click="update(movie)" target="">
                    <img ng-src="{{ movie.poster_path == nl ? 'http://placehold.it/220x330&txt=image_is_unavailable' : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path }}" class="">
                    </a>

                    <div class="movie-title">
                        <a ng-href="#/film/{{ movie.id }}" id="{{ $index + 1 }}" ng-click="update(movie)" target="_blank">{{ movie.title }}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>




        <!-- <hr>
        <ul class="rel-results" infinite-scroll='themoviedb.nextPage(search)' infinite-scroll-disabled='themoviedb.stop' infinite-scroll-distance='1'>
            <li ng-repeat='movie in items.results'>
                <div class="movie-card">
                    <a ng-href="#/film/{{ movie.id }}" id="{{ $index + 1 }}" ng-click="update(movie)" target="">
                    <img ng-src="{{ movie.poster_path == nl ? 'http://placehold.it/220x330&txt=image_is_unavailable' : 'https://image.tmdb.org/t/p/w500/' + movie.poster_path }}" class="">
                    </a>

                    <div class="movie-title">
                        <a ng-href="#/film/{{ movie.id }}" id="{{ $index + 1 }}" ng-click="update(movie)" target="_blank">{{ movie.title }}</a>
                    </div>
                </div>
            </li>
        </ul> -->

